@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: Outfit;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

.animate-slide-down {
  animation: slide-down 1s ease-in-out;
}

.animate-slide-left {
  animation: slide-left 1s ease-in-out;
}

/* Entrance Animations */
@keyframes slide-in-top-left {
  from {
    transform: translate(-100%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-in-top-right {
  from {
    transform: translate(100%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Exit Animations */
@keyframes slide-out-bottom-left {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(-100%, 100%);
    opacity: 0;
  }
}

@keyframes slide-out-bottom-right {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(100%, 100%);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Animation Classes */
.animate-slide-in-top-left {
  animation: slide-in-top-left 1s ease-in-out;
}

.animate-slide-in-top-right {
  animation: slide-in-top-right 1s ease-in-out;
}

.animate-slide-in-left {
  animation: slide-in-left 1s ease-in-out;
}

.animate-slide-out-bottom-left {
  animation: slide-out-bottom-left 1s ease-in-out;
}

.animate-slide-out-bottom-right {
  animation: slide-out-bottom-right 1s ease-in-out;
}

.animate-slide-out-right {
  animation: slide-out-right 1s ease-in-out;
}